@model Capstone2.Models.Order

@{
    ViewData["Title"] = "Place Order";
}

<h2>Place an Order</h2>

@Html.ValidationSummary(true, "", new { @class = "text-danger" })

<form asp-action="Form" asp-controller="Orders" method="post">

    <input type="hidden" name="OrderItemsJson" value="@TempData["OrderItemsJson"]" />

    <div class="form-group">
        <label asp-for="Customer.Name">Customer Name</label>
        <input asp-for="Customer.Name" class="form-control" required />
    </div>

    <div class="form-group">
        <label asp-for="Customer.ContactNo">Contact No.</label>
        <input asp-for="Customer.ContactNo" class="form-control" required />
    </div>

    <div class="form-group">
        <label asp-for="Customer.Address">Address</label>
        <input asp-for="Customer.Address" class="form-control" required />
    </div>

    <div class="form-group">
        <label asp-for="CateringDate">Catering Date</label>
        <input asp-for="CateringDate" type="date" class="form-control" required />
    </div>

    <div class="form-group">
        <label asp-for="Venue">Venue</label>
        <input asp-for="Venue" class="form-control" required />
    </div>

    <div class="form-group">
        <label asp-for="NoOfPax">Number of PAX</label>
        <input asp-for="NoOfPax" type="number" class="form-control" required />
    </div>

    <div class="form-group">
        <label asp-for="timeOfFoodServing">Time of Food Serving</label>
        <input asp-for="timeOfFoodServing" type="time" class="form-control" required />
    </div>

    <div class="form-group">
        <label asp-for="Occasion">Occasion</label>
        <input asp-for="Occasion" class="form-control" required />
    </div>

    <div class="form-group">
        <label asp-for="Motif">Motif</label>
        <input asp-for="Motif" class="form-control" required />
    </div>

    <div class="form-group">
        <label asp-for="TotalPayment">Total Payment</label>
        <input asp-for="TotalPayment" value="@Model.TotalPayment.ToString("0.00")" step="0.01" class="form-control" readonly />
    </div>
    <input type="submit" class="btn btn-primary" value="Place Order" />
</form>
